.navbar-mypatterns-text button {
  border: 0px;
  outline: 0px;
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  font-family: inherit;
  cursor: pointer;
}

.navbar-mypatterns-text button:hover {
  color: #9b70ec;
}

.navbar-mypatterns-text button:active {
  color: #b998f5;
}

.navbar-mypatterns-showcontentbox {
  display: inline-block;
  position: relative;
}

.navbar-mypatterns-showcontentbox-content-inside {
  /* Works due to the earlier position: relative declaration */
  position: absolute;
  right: 5px;
  width: 400px;
  max-height: 122px;
  height: 122px;
  top: 10px;
  z-index: 3;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #302e2e;
  text-transform: none;
}

.navbar-mypatterns-showcontentbox-content-inside-patternbox {
  padding-top: 26px;
}

.navbar-mypatterns-showcontentbox-content-inside-patternbox-text {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-mypatterns-showcontentbox-content-inside-patterns {
  overflow: hidden;
  text-transform: none;
  font-size: 14.5px;
  padding-left: 10px;
}

.navbar-mypatterns-showcontentbox-content-inside-patterns p {
  display: inline-block;
  text-transform: none;
  margin: 0;
  padding: 0 10px;
  max-width: 300px;
  width: 300px;
}

.navbar-mypatterns-showcontentbox-content-inside-btnclose {
  position: absolute;
  background-color: #592baf;
  color: white;
  font-weight: 600;
  font-size: 12px;
  border-radius: 3px;
  width: 50px;
  height: 17px;
  right: 14px;
  bottom: 7px;

}

.navbar-mypatterns-showcontentbox-content-inside-overwrite {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100%;
  text-transform: none;
  padding: 0 0 0 10px;
}

.navbar-mypatterns-showcontentbox-content-inside-overwrite button {
  /* background-color: #592baf; */
  color: white;
  font-weight: 600;
  border-radius: 3px;
  width: 60px;
  height: 30px;
  font-size: 24px;
}

.navbar-mypatterns-showcontentbox-content-inside-overwrite-btnyes {
  position: absolute;
  right: 20px;
  top: 30px;
}

.navbar-mypatterns-showcontentbox-content-inside-overwrite-btnno {
  position: absolute;
  right: 20px;
  top: 80px;
}

.navbar-mypatterns-showcontentbox-content-inside-overwrite p {
  padding-top: 15px;
}

.navbar-mypatterns-showcontentbox-content-inside-overwrite-icon {
  font-size: 32px;
}

.navbar-mypatterns-showcontentbox-content-inside-overwrite-text {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.navbar-mypatterns-showcontentbox-content-inside-close button {
  position: absolute;
  left: 380px;
  background-color: transparent;
  height: 5px;
  width: 10px;
}

.navbar-mypatterns-showcontentbox-content-inside-close button:hover {
  color: #ffd059;
  background-color: transparent;
  border: 0px;
}

.navbar-mypatterns-showcontentbox-content-inside-close button:active {
  border: 0px;
  background-color: transparent;
  color: #e4a400;
}

.navbar-mypatterns-showcontentbox-content-inside-empty {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.navbar-mypatterns-showcontentbox-content-inside-patterns-tbox {
display: inline-block;
position: absolute;
}

.navbar-mypatterns-showcontentbox-content-inside-tooltip {
  display: inline-block;
}

.navbar-mypatterns-showcontentbox-content-inside-tooltip .tooltiptext  {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;
  background-color: #1c1d1d;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);

  /* Position the tooltip */
  position: absolute;
  top: 100%;
  z-index: 11;
}

.navbar-mypatterns-showcontentbox-content-inside-tooltip:hover .tooltiptext {
  visibility: visible;
}
