.main-container {
  width: 100%;
  height: 99vh;
  padding: 65px 80px;
  box-sizing: border-box;
}

.main-box {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.main-footer {
  display: block;
  width: 100%;
  height: 1vh;
  background-color: #e4a400;
  /* fix to allow this to be on top of the natural CSS order */
  transform: rotate(180deg);
}

.main-section {
  display: flex;
  justify-content: center;
  padding: 122px 0 0 0;
}
