.navbar-aboutapp-text button {
  border: 0px;
  outline: 0px;
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  font-family: inherit;
  cursor: pointer;
}

.navbar-aboutapp-text button:hover {
  color: #b0b4b1;
}

.navbar-aboutapp-text button:active {
  color: #898f8b;
}

.navbar-aboutapp-text-selected {
  border-bottom: 2px solid #b0b4b1;
}

.navbar-aboutapp-showcontentbox {
  display: inline-block;
  /* position: relative; */
}

.navbar-aboutapp-showcontentbox-shell {
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 81.5vh;
  top: 120px;
  z-index: 10;
  background-color: #202222;
  text-transform: none;
  font-size: 12px;
  padding: 50px 50px 0 50px;
}

.navbar-aboutapp-showcontentbox-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.navbar-aboutapp-showcontentbox-content-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 55%;
  height: 100%;
  padding-left: 50px;
  font-size: 1.1em;
}

.navbar-aboutapp-showcontentbox-content button {
  margin-top: 40px;
  padding: 0;
}

.navbar-aboutapp-showcontentbox-content-flexlogos-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navbar-aboutapp-showcontentbox-content-flexlogos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.navbar-aboutapp-showcontentbox-content-flexlogos-whiteborder {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: tranparent;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 3px;
}

.navbar-aboutapp-showcontentbox-content-flexlogos-whiteborder img {
  width: 100%;
}

.navbar-aboutapp-showcontentbox-content-flexlogos-fa {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.navbar-aboutapp-showcontentbox-content-textborder {
  border-bottom: 1px dotted #ffc32a;
  display: inline-block;
}

.navbar-aboutapp-showcontentbox-content-apptechnologies {
  margin: 30px 0 20px 0;
}

.navbar-aboutapp-showcontentbox-content-fattext {
  font-weight: 600;
}
