.navbar-profile-text button {
  border: 0px;
  outline: 0px;
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  font-family: inherit;
  cursor: pointer;
}

.navbar-profile-text button:hover {
  color: #e4a400;
}

.navbar-profile-text button:active {
  color: #ffd059;
}

.navbar-profile-text-selected {
  border-bottom: 2px solid #e4a400;
}


.navbar-profile-showcontentbox {
  display: inline-block;
  position: relative;
}

.navbar-profile-showcontentbox button {
  height: 30px;
  font-weight: 600;
  background-color: #302e2e;
  color: white;
  text-transform: uppercase;
}

.navbar-profile-showcontentbox-content-inside {
  /* Works due to the earlier position: relative declaration */
  position: absolute;
  right: 5px;
  width: 400px;
  height: 122px;
  top: 10px;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #302e2e;
  text-transform: none;
}

.navbar-profile-showcontentbox-content-inside-loggedin {
  position: relative;
  max-width: 450px;
  width: 450px;
  height: 100%;
  right: 50px;
  top: 0px;
  bottom: 0px;
  background-color: #302e2e;
}

.navbar-profile-showcontentbox-content-inside-pads {
  padding: 15px 0 0 10px;
}

.navbar-profile-showcontentbox-content-inside-pads-btnspan {
  font-size: 12px;
  padding-right: 15px;
}

.navbar-profile-showcontentbox-content-inside-pads button {
  position: absolute;
  background-color: transparent;
  right: 30px;
  bottom: 5px;
}

.navbar-profile-showcontentbox-content-inside-pads button:nth-child(1) {
  position: absolute;
  background-color: #474b49;
  right: 10px;
  bottom: 10px;
}

.navbar-profile-showcontentbox-content-inside-pads button:hover {
  background-color: #e4a400;
  color: white;
}

.navbar-profile-showcontentbox-content-inside-pads button:active {
  border: 4px solid #e4a400;
  background-color: #302e2e;
  color: white;
}

.navbar-profile-showcontentbox-content-inside-pads button:nth-child(3):hover {
  color: #ffd059;
  background-color: #302e2e;
  border: 0px;
}

.navbar-profile-showcontentbox-content-inside-pads button:nth-child(3):active {
  border: 0px;
  background-color: #302e2e;
  color: #e4a400;
}

.navbar-profile-showcontentbox-content-inside-fat {
  font-weight: 900;
  min-width: 200px;
  display: inline-block;
  padding-top: 12px;
}

.navbar-profile-showcontentbox-content-inside-fat p {
  min-width: 95px;
  display: inline-block;
  text-align: right;
}

.navbar-profile-showcontentbox-content-inside-fat span {
  padding-left: 30px;
}

.navbar-profile-showcontentbox-content-inside-normal {
  font-weight: 500;
  min-width: 200px;
  display: inline-block;
  font-size: 12px;
}

.navbar-profile-showcontentbox-content-inside-normal input {
  background-color: rgba(71, 75, 73, 1);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  outline: 0;
  border: 0;
  border-radius: 1px;
  padding: 1px 2px;
  width: 160px;
  height: 14px;
}

.navbar-profile-showcontentbox-content-inside-normal input[type="password"] {
  font-family: caption;
  font-size: 18px;
}

.navbar-profile-showcontentbox-content-inside-button {
  position: relative;
  top: 15px;
  right: -50px;
  font-size: 10px;
  font-weight: 900;
}

.navbar-profile-showcontentbox-content-inside-button button {
  width: 65px;
  height: 24px;
}

.navbar-profile-showcontentbox-content-inside-button button:nth-child(2) {
  position: absolute;
  color: white;
  left: 30px;
  bottom: 16px;
  width: 12px;
  height: 12px;
}

.navbar-profile-showcontentbox-content-inside-button button:nth-child(2):hover {
  color: #ffd059;
  background-color: transparent;
}

.navbar-profile-showcontentbox-content-inside-button button:nth-child(2):active {
  color: #e4a400;
  background-color: transparent;
  border: 0px;
}

.navbar-profile-showcontentbox-content-inside-close {
  position: relative;
  top: 0px;
  right: -5x;
  width: 100%;
}

.navbar-profile-showcontentbox-content-inside-close button:first-of-type {
  background-color: transparent;
  height: 5px;
  width: 10px;
}

.navbar-profile-showcontentbox-content-inside-close button:hover {
  color: #ffd059;
  background-color: transparent;
  border: 0px;
}

.navbar-profile-showcontentbox-content-inside-close button:active {
  border: 0px;
  background-color: transparent;
  color: #e4a400;
}

.navbar-profile-showcontentbox-content-inside-username {
  margin: 22px 0 0 9px;
  font-weight: 300;
  font-size: 12px;
}

.navbar-profile-showcontentbox-content-inside-erroremail {
  position: absolute;
  top: 8px;
  color: #ff6958;
}
